@tailwind base;
@tailwind components;
@tailwind utilities;

.bx--header {
    background-color: hsl(var(--p)) !important;
}

.bx--header-panel {
    background-color: hsl(var(--p)) !important;
}

.bx--side-nav__menu {
    visibility: visible !important;
}